   <ion-modal-view >

		
      <ion-content ng-controller="MenuController">
       
     
        <textarea ng-model="body" class="item" placeholder="Menu.."></textarea>


         <div class="button-bar social-login" style="position:fixed;bottom:-9px;">
             <button style="font-size:32px;"  class="button button-full button-light icon-center ion-camera ink"></button>
             <button  ng-click="addMenu();closeModal();" class="button button-full button-assertive ion-send  ink">Save</button>
             <button ng-click="closeModal();" class="button button-full button-calm ion-send  ink">Cancel</button>
          </div>
       


      </ion-content>
   </ion-modal-view>